{% extends 'site/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <!-- Page Title -->
    <div class="bizagn--page-title">
        <h2>Project Details</h2>
    <p>{{object.description}}</p>
        <div class="bizagn--page-bc">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Project</a></li>
                <li>Creative</li>
            </ul>
        </div>
    </div>
    <!-- End of Page Title -->

    <!-- Project Details -->
    <section class="pt-120 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bizagn--project-image">
                    <img src="{{object.image_large.url}}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="bizagn--project-desc">
                    <h2>{{object.title}}</h2>
                    <p>{{object.content|safe}}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <ul class="bizagn--project-meta">
                    <li><span>Catagories:</span> {% for category in object.categories.all %} {{category.title}} {% endfor %}</li>
                    <li><span>Date:</span> {{object.date}}</li>
                    <li><span>Price:</span> ${{object.price|intcomma}}</li>
                    <li><span>Duration:</span> {{object.duration}}</li>
                    <li><span>Client:</span> {{object.client}}</li>
                    <li><span>Designer:</span> {{object.designer}} </li>
                    </ul>
                </div>
            </div>

            {% if related_projects %}
            <!-- Related Projects -->
            <div class="bizagn--related-project pt-120">
                <!-- Related Project Title -->
                <div class="bizagn--related-project-title mb-30">
                    <h3>Related Projects</h3>
                </div>
                <!-- End of Related Project Title -->

                <div class="row">
                    {% for project in related_projects %}
                    <div class="col-lg-3 col-md-6">
                        <!-- Related Project Item -->
                        <div class="bizagn--relpro-item">
                            <div class="bizagn--relpro-thumb">
                                <a href="{% url 'common:project-detail' project.slug %}"><img src="{{project.image_small.url}}" alt="" class="img-fluid"></a>
                            </div>
                            <div class="bizagn--relpro-data">
                                <ul class="bizagn--relpro-meta">
                                    <li>
                                        {% for category in project.categories.all %}
                                        <a href="{% url 'common:project-detail' project.slug %}">{{category.title}}</a>
                                        {% endfor %}
                                    </li>
                                </ul>
                                <h4> <a href="{% url 'common:project-detail' project.slug %}"> {{project.title}} </a> </h4>
                            </div>
                        </div>
                        <!-- End of Related Project Item -->
                    </div>
                    {% endfor %}

                </div>
            </div>
            <!-- End of Related Projects -->

            {% endif %}

        </div>
    </section>
    <!-- End of Project Details -->

    {% endblock %}
