<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">
								<!--begin::Card-->
								<div class="card card-custom card-sticky" id="kt_page_sticky_card">
									<div class="card-header">
										<div class="card-title">
											<h3 class="card-label">Sticky Form Actions
											<i class="mr-2"></i>
											<small class="">try to scroll the page</small></h3>
										</div>
										<div class="card-toolbar">
											<a href="#" class="btn btn-light-primary font-weight-bolder mr-2">
											<i class="ki ki-long-arrow-back icon-sm"></i>Back</a>
											<div class="btn-group">
												<button type="button" class="btn btn-primary font-weight-bolder">
												<i class="ki ki-check icon-sm"></i>Save Form</button>
												<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
												<div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
													<ul class="nav nav-hover flex-column">
														<li class="nav-item">
															<a href="#" class="nav-link">
																<i class="nav-icon flaticon2-reload"></i>
																<span class="nav-text">Save &amp; continue</span>
															</a>
														</li>
														<li class="nav-item">
															<a href="#" class="nav-link">
																<i class="nav-icon flaticon2-add-1"></i>
																<span class="nav-text">Save &amp; add new</span>
															</a>
														</li>
														<li class="nav-item">
															<a href="#" class="nav-link">
																<i class="nav-icon flaticon2-power"></i>
																<span class="nav-text">Save &amp; exit</span>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body">
										<!--begin::Form-->
										<form class="form" id="kt_form">
											<div class="row">
												<div class="col-xl-2"></div>
												<div class="col-xl-8">
													<div class="my-5">
														<h3 class="text-dark font-weight-bold mb-10">Customer Info:</h3>
														<div class="form-group row">
															<label class="col-3">First Name</label>
															<div class="col-9">
																<input class="form-control form-control-solid" type="text" value="Nick" />
															</div>
														</div>
														<div class="form-group row">
															<label class="col-3">Last Name</label>
															<div class="col-9">
																<input class="form-control form-control-solid" type="text" value="Watson" />
															</div>
														</div>
														<div class="form-group row">
															<label class="col-3">Company Name</label>
															<div class="col-9">
																<input class="form-control form-control-solid" type="text" value="Loop Inc." />
																<span class="form-text text-muted">If you want your invoices addressed to a company. Leave blank to use your full name.</span>
															</div>
														</div>
														<div class="form-group row">
															<label class="col-3">Contact Phone</label>
															<div class="col-9">
																<div class="input-group input-group-solid">
																	<div class="input-group-prepend">
																		<span class="input-group-text">
																			<i class="la la-phone"></i>
																		</span>
																	</div>
																	<input type="text" class="form-control form-control-solid" value="+45678967456" placeholder="Phone" />
																</div>
																<span class="form-text text-muted">We'll never share your email with anyone else.</span>
															</div>
														</div>
														<div class="form-group row">
															<label class="col-3">Email Address</label>
															<div class="col-9">
																<div class="input-group input-group-solid">
																	<div class="input-group-prepend">
																		<span class="input-group-text">
																			<i class="la la-at"></i>
																		</span>
																	</div>
																	<input type="text" class="form-control form-control-solid" value="nick.watson@loop.com" placeholder="Email" />
																</div>
															</div>
														</div>
														<div class="form-group row">
															<label class="col-3">Company Site</label>
															<div class="col-9">
																<div class="input-group input-group-solid">
																	<input type="text" class="form-control form-control-solid" placeholder="Username" value="loop" />
																	<div class="input-group-append">
																		<span class="input-group-text">.com</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="separator separator-dashed my-10"></div>
													<div class="my-5">
														<h3 class="text-dark font-weight-bold mb-10">Address Details:</h3>
														<div class="form-group row">
															<label class="col-3">Country</label>
															<div class="col-9">
																<select class="form-control form-control-solid">
																	<option value="AF">Afghanistan</option>
																	<option value="AX">Åland Islands</option>
																	<option value="AL">Albania</option>
																	<option value="DZ">Algeria</option>
																	<option value="AS">American Samoa</option>
																	<option value="AD">Andorra</option>
																	<option value="AO">Angola</option>
																	<option value="AI">Anguilla</option>
																	<option value="AQ">Antarctica</option>
																	<option value="AG">Antigua and Barbuda</option>
																	<option value="AR">Argentina</option>
																	<option value="AM">Armenia</option>
																	<option value="AW">Aruba</option>
																	<option value="AU">Australia</option>
																	<option value="AT">Austria</option>
																	<option value="AZ">Azerbaijan</option>
																	<option value="BS">Bahamas</option>
																	<option value="BH">Bahrain</option>
																	<option value="BD">Bangladesh</option>
																	<option value="BB">Barbados</option>
																	<option value="BY">Belarus</option>
																	<option value="BE">Belgium</option>
																	<option value="BZ">Belize</option>
																	<option value="BJ">Benin</option>
																	<option value="BM">Bermuda</option>
																	<option value="BT">Bhutan</option>
																	<option value="BO">Bolivia, Plurinational State of</option>
																	<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
																	<option value="BA">Bosnia and Herzegovina</option>
																	<option value="BW">Botswana</option>
																	<option value="BV">Bouvet Island</option>
																	<option value="BR">Brazil</option>
																	<option value="IO">British Indian Ocean Territory</option>
																	<option value="BN">Brunei Darussalam</option>
																	<option value="BG">Bulgaria</option>
																	<option value="BF">Burkina Faso</option>
																	<option value="BI">Burundi</option>
																	<option value="KH">Cambodia</option>
																	<option value="CM">Cameroon</option>
																	<option value="CA">Canada</option>
																	<option value="CV">Cape Verde</option>
																	<option value="KY">Cayman Islands</option>
																	<option value="CF">Central African Republic</option>
																	<option value="TD">Chad</option>
																	<option value="CL">Chile</option>
																	<option value="CN">China</option>
																	<option value="CX">Christmas Island</option>
																	<option value="CC">Cocos (Keeling) Islands</option>
																	<option value="CO">Colombia</option>
																	<option value="KM">Comoros</option>
																	<option value="CG">Congo</option>
																	<option value="CD">Congo, the Democratic Republic of the</option>
																	<option value="CK">Cook Islands</option>
																	<option value="CR">Costa Rica</option>
																	<option value="CI">Côte d'Ivoire</option>
																	<option value="HR">Croatia</option>
																	<option value="CU">Cuba</option>
																	<option value="CW">Curaçao</option>
																	<option value="CY">Cyprus</option>
																	<option value="CZ">Czech Republic</option>
																	<option value="DK">Denmark</option>
																	<option value="DJ">Djibouti</option>
																	<option value="DM">Dominica</option>
																	<option value="DO">Dominican Republic</option>
																	<option value="EC">Ecuador</option>
																	<option value="EG">Egypt</option>
																	<option value="SV">El Salvador</option>
																	<option value="GQ">Equatorial Guinea</option>
																	<option value="ER">Eritrea</option>
																	<option value="EE">Estonia</option>
																	<option value="ET">Ethiopia</option>
																	<option value="FK">Falkland Islands (Malvinas)</option>
																	<option value="FO">Faroe Islands</option>
																	<option value="FJ">Fiji</option>
																	<option value="FI">Finland</option>
																	<option value="FR">France</option>
																	<option value="GF">French Guiana</option>
																	<option value="PF">French Polynesia</option>
																	<option value="TF">French Southern Territories</option>
																	<option value="GA">Gabon</option>
																	<option value="GM">Gambia</option>
																	<option value="GE">Georgia</option>
																	<option value="DE">Germany</option>
																	<option value="GH">Ghana</option>
																	<option value="GI">Gibraltar</option>
																	<option value="GR">Greece</option>
																	<option value="GL">Greenland</option>
																	<option value="GD">Grenada</option>
																	<option value="GP">Guadeloupe</option>
																	<option value="GU">Guam</option>
																	<option value="GT">Guatemala</option>
																	<option value="GG">Guernsey</option>
																	<option value="GN">Guinea</option>
																	<option value="GW">Guinea-Bissau</option>
																	<option value="GY">Guyana</option>
																	<option value="HT">Haiti</option>
																	<option value="HM">Heard Island and McDonald Islands</option>
																	<option value="VA">Holy See (Vatican City State)</option>
																	<option value="HN">Honduras</option>
																	<option value="HK">Hong Kong</option>
																	<option value="HU">Hungary</option>
																	<option value="IS">Iceland</option>
																	<option value="IN">India</option>
																	<option value="ID">Indonesia</option>
																	<option value="IR">Iran, Islamic Republic of</option>
																	<option value="IQ">Iraq</option>
																	<option value="IE">Ireland</option>
																	<option value="IM">Isle of Man</option>
																	<option value="IL">Israel</option>
																	<option value="IT">Italy</option>
																	<option value="JM">Jamaica</option>
																	<option value="JP">Japan</option>
																	<option value="JE">Jersey</option>
																	<option value="JO">Jordan</option>
																	<option value="KZ">Kazakhstan</option>
																	<option value="KE">Kenya</option>
																	<option value="KI">Kiribati</option>
																	<option value="KP">Korea, Democratic People's Republic of</option>
																	<option value="KR">Korea, Republic of</option>
																	<option value="KW">Kuwait</option>
																	<option value="KG">Kyrgyzstan</option>
																	<option value="LA">Lao People's Democratic Republic</option>
																	<option value="LV">Latvia</option>
																	<option value="LB">Lebanon</option>
																	<option value="LS">Lesotho</option>
																	<option value="LR">Liberia</option>
																	<option value="LY">Libya</option>
																	<option value="LI">Liechtenstein</option>
																	<option value="LT">Lithuania</option>
																	<option value="LU">Luxembourg</option>
																	<option value="MO">Macao</option>
																	<option value="MK">Macedonia, the former Yugoslav Republic of</option>
																	<option value="MG">Madagascar</option>
																	<option value="MW">Malawi</option>
																	<option value="MY">Malaysia</option>
																	<option value="MV">Maldives</option>
																	<option value="ML">Mali</option>
																	<option value="MT">Malta</option>
																	<option value="MH">Marshall Islands</option>
																	<option value="MQ">Martinique</option>
																	<option value="MR">Mauritania</option>
																	<option value="MU">Mauritius</option>
																	<option value="YT">Mayotte</option>
																	<option value="MX">Mexico</option>
																	<option value="FM">Micronesia, Federated States of</option>
																	<option value="MD">Moldova, Republic of</option>
																	<option value="MC">Monaco</option>
																	<option value="MN">Mongolia</option>
																	<option value="ME">Montenegro</option>
																	<option value="MS">Montserrat</option>
																	<option value="MA">Morocco</option>
																	<option value="MZ">Mozambique</option>
																	<option value="MM">Myanmar</option>
																	<option value="NA">Namibia</option>
																	<option value="NR">Nauru</option>
																	<option value="NP">Nepal</option>
																	<option value="NL">Netherlands</option>
																	<option value="NC">New Caledonia</option>
																	<option value="NZ">New Zealand</option>
																	<option value="NI">Nicaragua</option>
																	<option value="NE">Niger</option>
																	<option value="NG">Nigeria</option>
																	<option value="NU">Niue</option>
																	<option value="NF">Norfolk Island</option>
																	<option value="MP">Northern Mariana Islands</option>
																	<option value="NO">Norway</option>
																	<option value="OM">Oman</option>
																	<option value="PK">Pakistan</option>
																	<option value="PW">Palau</option>
																	<option value="PS">Palestinian Territory, Occupied</option>
																	<option value="PA">Panama</option>
																	<option value="PG">Papua New Guinea</option>
																	<option value="PY">Paraguay</option>
																	<option value="PE">Peru</option>
																	<option value="PH">Philippines</option>
																	<option value="PN">Pitcairn</option>
																	<option value="PL">Poland</option>
																	<option value="PT">Portugal</option>
																	<option value="PR">Puerto Rico</option>
																	<option value="QA">Qatar</option>
																	<option value="RE">Réunion</option>
																	<option value="RO">Romania</option>
																	<option value="RU">Russian Federation</option>
																	<option value="RW">Rwanda</option>
																	<option value="BL">Saint Barthélemy</option>
																	<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
																	<option value="KN">Saint Kitts and Nevis</option>
																	<option value="LC">Saint Lucia</option>
																	<option value="MF">Saint Martin (French part)</option>
																	<option value="PM">Saint Pierre and Miquelon</option>
																	<option value="VC">Saint Vincent and the Grenadines</option>
																	<option value="WS">Samoa</option>
																	<option value="SM">San Marino</option>
																	<option value="ST">Sao Tome and Principe</option>
																	<option value="SA">Saudi Arabia</option>
																	<option value="SN">Senegal</option>
																	<option value="RS">Serbia</option>
																	<option value="SC">Seychelles</option>
																	<option value="SL">Sierra Leone</option>
																	<option value="SG">Singapore</option>
																	<option value="SX">Sint Maarten (Dutch part)</option>
																	<option value="SK">Slovakia</option>
																	<option value="SI">Slovenia</option>
																	<option value="SB">Solomon Islands</option>
																	<option value="SO">Somalia</option>
																	<option value="ZA">South Africa</option>
																	<option value="GS">South Georgia and the South Sandwich Islands</option>
																	<option value="SS">South Sudan</option>
																	<option value="ES">Spain</option>
																	<option value="LK">Sri Lanka</option>
																	<option value="SD">Sudan</option>
																	<option value="SR">Suriname</option>
																	<option value="SJ">Svalbard and Jan Mayen</option>
																	<option value="SZ">Swaziland</option>
																	<option value="SE">Sweden</option>
																	<option value="CH">Switzerland</option>
																	<option value="SY">Syrian Arab Republic</option>
																	<option value="TW">Taiwan, Province of China</option>
																	<option value="TJ">Tajikistan</option>
																	<option value="TZ">Tanzania, United Republic of</option>
																	<option value="TH">Thailand</option>
																	<option value="TL">Timor-Leste</option>
																	<option value="TG">Togo</option>
																	<option value="TK">Tokelau</option>
																	<option value="TO">Tonga</option>
																	<option value="TT">Trinidad and Tobago</option>
																	<option value="TN">Tunisia</option>
																	<option value="TR">Turkey</option>
																	<option value="TM">Turkmenistan</option>
																	<option value="TC">Turks and Caicos Islands</option>
																	<option value="TV">Tuvalu</option>
																	<option value="UG">Uganda</option>
																	<option value="UA">Ukraine</option>
																	<option value="AE">United Arab Emirates</option>
																	<option value="GB">United Kingdom</option>
																	<option value="US" selected="selected">United States</option>
																	<option value="UM">United States Minor Outlying Islands</option>
																	<option value="UY">Uruguay</option>
																	<option value="UZ">Uzbekistan</option>
																	<option value="VU">Vanuatu</option>
																	<option value="VE">Venezuela, Bolivarian Republic of</option>
																	<option value="VN">Viet Nam</option>
																	<option value="VG">Virgin Islands, British</option>
																	<option value="VI">Virgin Islands, U.S.</option>
																	<option value="WF">Wallis and Futuna</option>
																	<option value="EH">Western Sahara</option>
																	<option value="YE">Yemen</option>
																	<option value="ZM">Zambia</option>
																	<option value="ZW">Zimbabwe</option>
																</select>
															</div>
														</div>
														<div class="form-group row">
															<label class="col-3">Address Line 1</label>
															<div class="col-9">
																<input class="form-control form-control-solid" type="text" value="District 6 1352 W. Olive Ave" />
															</div>
														</div>
														<div class="form-group row">
															<label class="col-3">Address Line 2</label>
															<div class="col-9">
																<input class="form-control form-control-solid" type="text" value="Fresno 559-488-4020" />
															</div>
														</div>
														<div class="form-group row">
															<label class="col-3">City</label>
															<div class="col-9">
																<input class="form-control form-control-solid" type="text" value="Polo Alto" />
															</div>
														</div>
														<div class="form-group row">
															<label class="col-3">State / Province / Region</label>
															<div class="col-9">
																<input class="form-control form-control-solid" type="text" value="Los Angeles" />
															</div>
														</div>
														<div class="form-group row">
															<label class="col-3">Zip / Postal Code</label>
															<div class="col-9">
																<input class="form-control form-control-solid" type="text" value="780456" />
															</div>
														</div>
														<div class="form-group row">
															<label class="col-3"></label>
															<div class="col-9">
																<div class="checkbox-inline">
																	<label class="checkbox">
																	<input type="checkbox" />
																	<span></span>Use as shipping address</label>
																</div>
															</div>
														</div>
													</div>
													<div class="separator separator-dashed my-10"></div>
													<div class="my-52">
														<h3 class="text-dark font-weight-bold mb-10">Security:</h3>
														<div class="form-group row">
															<label class="col-3">Login verification</label>
															<div class="col-9">
																<button type="button" class="btn btn-light-primary font-weight-bold btn-sm">Setup login verification</button>
																<div class="form-text text-muted mt-3">After you log in, you will be asked for additional information to confirm your identity and protect your account from being compromised.
																<a href="#">Learn more</a>.</div>
															</div>
														</div>
														<div class="form-group row">
															<label class="col-3">Password reset verification</label>
															<div class="col-9">
																<div class="checkbox-inline">
																	<label class="checkbox mb-2">
																	<input type="checkbox" />
																	<span></span>Require personal information to reset your password</label>
																</div>
																<div class="form-text text-muted">For extra security, this requires you to confirm your email or phone number when you reset your password.
																<a href="#" class="font-weight-bold">Learn more</a>.</div>
															</div>
														</div>
														<div class="form-group row mt-10">
															<label class="col-3"></label>
															<div class="col-9">
																<button type="button" class="btn btn-light-danger font-weight-bold btn-sm">Deactivate your account ?</button>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-2"></div>
											</div>
										</form>
										<!--end::Form-->
									</div>
								</div>
								<!--end::Card-->
								<!--begin: Code-->
								<div class="example example-compact my-5">
									<div class="example-tools justify-content-center">
										<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
										<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
									</div>
									<div class="example-code">
										<ul class="example-nav nav nav-tabs nav-bold nav-tabs-line nav-tabs-line-2x">
											<li class="nav-item">
												<a class="nav-link active" data-toggle="tab" href="#example_code_html">HTML</a>
											</li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane active" id="example_code_html" role="tabpanel">
												<div class="example-highlight">
													<pre style="height:400px">
<code class="language-html">
    &lt;div class="card card-custom card-sticky" id="kt_page_sticky_card"&gt;
     &lt;div class="card-header"&gt;
      &lt;div class="card-title"&gt;
       &lt;h3 class="card-label"&gt;
        Sticky Form Actions &lt;i class="mr-2"&gt;&lt;/i&gt;
        &lt;small class=""&gt;try to scroll the page&lt;/small&gt;
       &lt;/h3&gt;
      &lt;/div&gt;
      &lt;div class="card-toolbar"&gt;
       &lt;a href="#" class="btn btn-light-primary font-weight-bolder mr-2"&gt;
        &lt;i class="ki ki-long-arrow-back icon-sm"&gt;&lt;/i&gt;
        Back
       &lt;/a&gt;
       &lt;div class="btn-group"&gt;
        &lt;button type="button" class="btn btn-primary font-weight-bolder"&gt;
         &lt;i class="ki ki-check icon-sm"&gt;&lt;/i&gt;
         Save Form
        &lt;/button&gt;
        &lt;button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
        &lt;/button&gt;
        &lt;div class="dropdown-menu dropdown-menu-sm dropdown-menu-right"&gt;
         &lt;ul class="nav nav-hover flex-column"&gt;
          &lt;li class="nav-item"&gt;
           &lt;a href="#" class="nav-link"&gt;
            &lt;i class="nav-icon flaticon2-reload"&gt;&lt;/i&gt;
            &lt;span class="nav-text"&gt;Save &amp; continue&lt;/span&gt;
           &lt;/a&gt;
          &lt;/li&gt;
          &lt;li class="nav-item"&gt;
           &lt;a href="#" class="nav-link"&gt;
            &lt;i class="nav-icon flaticon2-add-1"&gt;&lt;/i&gt;
            &lt;span class="nav-text"&gt;Save &amp; add new&lt;/span&gt;
           &lt;/a&gt;
          &lt;/li&gt;
          &lt;li class="nav-item"&gt;
           &lt;a href="#" class="nav-link"&gt;
            &lt;i class="nav-icon flaticon2-power"&gt;&lt;/i&gt;
            &lt;span class="nav-text"&gt;Save &amp; exit&lt;/span&gt;
           &lt;/a&gt;
          &lt;/li&gt;
         &lt;/ul&gt;
        &lt;/div&gt;
       &lt;/div&gt;
      &lt;/div&gt;
     &lt;/div&gt;
     &lt;div class="card-body"&gt;
      &lt;!--begin::Form--&gt;
      &lt;form class="form" id="kt_form"&gt;
       &lt;div class="row"&gt;
        &lt;div class="col-xl-2"&gt;&lt;/div&gt;
        &lt;div class="col-xl-8"&gt;
         &lt;div class="my-5"&gt;
          &lt;h3 class=" text-dark font-weight-bold mb-10"&gt;Customer Info:&lt;/h3&gt;
          &lt;div class="form-group row"&gt;
           &lt;label class="col-3"&gt;First Name&lt;/label&gt;
           &lt;div class="col-9"&gt;
            &lt;input class="form-control form-control-solid" type="text" value="Nick"/&gt;
           &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="form-group row"&gt;
           &lt;label class="col-3"&gt;Last Name&lt;/label&gt;
           &lt;div class="col-9"&gt;
            &lt;input class="form-control form-control-solid" type="text" value="Watson"/&gt;
           &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="form-group row"&gt;
           &lt;label class="col-3"&gt;Company Name&lt;/label&gt;
           &lt;div class="col-9"&gt;
            &lt;input class="form-control form-control-solid" type="text" value="Loop Inc."/&gt;
            &lt;span class="form-text text-muted"&gt;If you want your invoices addressed to a company. Leave blank to use your full name.&lt;/span&gt;
           &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="form-group row"&gt;
           &lt;label class="col-3"&gt;Contact Phone&lt;/label&gt;
           &lt;div class="col-9"&gt;
            &lt;div class="input-group input-group-solid"&gt;
             &lt;div class="input-group-prepend"&gt;&lt;span class="input-group-text"&gt;&lt;i class="la la-phone"&gt;&lt;/i&gt;&lt;/span&gt;&lt;/div&gt;
             &lt;input type="text" class="form-control form-control-solid" value="+45678967456" placeholder="Phone" /&gt;
            &lt;/div&gt;
            &lt;span class="form-text text-muted"&gt;We'll never share your email with anyone else.&lt;/span&gt;
           &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="form-group row"&gt;
           &lt;label class="col-3"&gt;Email Address&lt;/label&gt;
           &lt;div class="col-9"&gt;
            &lt;div class="input-group input-group-solid"&gt;
             &lt;div class="input-group-prepend"&gt;&lt;span class="input-group-text"&gt;&lt;i class="la la-at"&gt;&lt;/i&gt;&lt;/span&gt;&lt;/div&gt;
             &lt;input type="text" class="form-control form-control-solid" value="nick.watson@loop.com" placeholder="Email" /&gt;
            &lt;/div&gt;
           &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="form-group row"&gt;
           &lt;label class="col-3"&gt;Company Site&lt;/label&gt;
           &lt;div class="col-9"&gt;
            &lt;div class="input-group input-group-solid"&gt;
             &lt;input type="text" class="form-control form-control-solid" placeholder="Username" value="loop"/&gt;
             &lt;div class="input-group-append"&gt;&lt;span class="input-group-text"&gt;.com&lt;/span&gt;&lt;/div&gt;
            &lt;/div&gt;
           &lt;/div&gt;
          &lt;/div&gt;
         &lt;/div&gt;
         &lt;div class="separator separator-dashed my-10"&gt;&lt;/div&gt;
         &lt;div class="my-5"&gt;
          &lt;h3 class=" text-dark font-weight-bold mb-10"&gt;Address Details:&lt;/h3&gt;
          &lt;div class="form-group row"&gt;
           &lt;label class="col-3"&gt;Country&lt;/label&gt;
           &lt;div class="col-9"&gt;
            &lt;select class="form-control form-control-solid"&gt;
             &lt;option value="AF"&gt;Afghanistan&lt;/option&gt;
             &lt;option value="AX"&gt;Åland Islands&lt;/option&gt;
             &lt;option value="AL"&gt;Albania&lt;/option&gt;
             &lt;option value="DZ"&gt;Algeria&lt;/option&gt;
             &lt;option value="AS"&gt;American Samoa&lt;/option&gt;
             &lt;option value="AD"&gt;Andorra&lt;/option&gt;
             &lt;option value="AO"&gt;Angola&lt;/option&gt;
             &lt;option value="AI"&gt;Anguilla&lt;/option&gt;
             &lt;option value="AQ"&gt;Antarctica&lt;/option&gt;
             &lt;option value="AG"&gt;Antigua and Barbuda&lt;/option&gt;
             &lt;option value="AR"&gt;Argentina&lt;/option&gt;
             &lt;option value="AM"&gt;Armenia&lt;/option&gt;
             &lt;option value="AW"&gt;Aruba&lt;/option&gt;
             &lt;option value="AU"&gt;Australia&lt;/option&gt;
             &lt;option value="AT"&gt;Austria&lt;/option&gt;
             &lt;option value="AZ"&gt;Azerbaijan&lt;/option&gt;
             &lt;option value="BS"&gt;Bahamas&lt;/option&gt;
             &lt;option value="BH"&gt;Bahrain&lt;/option&gt;
             &lt;option value="BD"&gt;Bangladesh&lt;/option&gt;
             &lt;option value="BB"&gt;Barbados&lt;/option&gt;
             &lt;option value="BY"&gt;Belarus&lt;/option&gt;
             &lt;option value="BE"&gt;Belgium&lt;/option&gt;
             &lt;option value="BZ"&gt;Belize&lt;/option&gt;
             &lt;option value="BJ"&gt;Benin&lt;/option&gt;
             &lt;option value="BM"&gt;Bermuda&lt;/option&gt;
             &lt;option value="BT"&gt;Bhutan&lt;/option&gt;
             &lt;option value="BO"&gt;Bolivia, Plurinational State of&lt;/option&gt;
             &lt;option value="BQ"&gt;Bonaire, Sint Eustatius and Saba&lt;/option&gt;
             &lt;option value="BA"&gt;Bosnia and Herzegovina&lt;/option&gt;
             &lt;option value="BW"&gt;Botswana&lt;/option&gt;
             &lt;option value="BV"&gt;Bouvet Island&lt;/option&gt;
             &lt;option value="BR"&gt;Brazil&lt;/option&gt;
             &lt;option value="IO"&gt;British Indian Ocean Territory&lt;/option&gt;
             &lt;option value="BN"&gt;Brunei Darussalam&lt;/option&gt;
             &lt;option value="BG"&gt;Bulgaria&lt;/option&gt;
             &lt;option value="BF"&gt;Burkina Faso&lt;/option&gt;
             &lt;option value="BI"&gt;Burundi&lt;/option&gt;
             &lt;option value="KH"&gt;Cambodia&lt;/option&gt;
             &lt;option value="CM"&gt;Cameroon&lt;/option&gt;
             &lt;option value="CA"&gt;Canada&lt;/option&gt;
             &lt;option value="CV"&gt;Cape Verde&lt;/option&gt;
             &lt;option value="KY"&gt;Cayman Islands&lt;/option&gt;
             &lt;option value="CF"&gt;Central African Republic&lt;/option&gt;
             &lt;option value="TD"&gt;Chad&lt;/option&gt;
             &lt;option value="CL"&gt;Chile&lt;/option&gt;
             &lt;option value="CN"&gt;China&lt;/option&gt;
             &lt;option value="CX"&gt;Christmas Island&lt;/option&gt;
             &lt;option value="CC"&gt;Cocos (Keeling) Islands&lt;/option&gt;
             &lt;option value="CO"&gt;Colombia&lt;/option&gt;
             &lt;option value="KM"&gt;Comoros&lt;/option&gt;
             &lt;option value="CG"&gt;Congo&lt;/option&gt;
             &lt;option value="CD"&gt;Congo, the Democratic Republic of the&lt;/option&gt;
             &lt;option value="CK"&gt;Cook Islands&lt;/option&gt;
             &lt;option value="CR"&gt;Costa Rica&lt;/option&gt;
             &lt;option value="CI"&gt;Côte d'Ivoire&lt;/option&gt;
             &lt;option value="HR"&gt;Croatia&lt;/option&gt;
             &lt;option value="CU"&gt;Cuba&lt;/option&gt;
             &lt;option value="CW"&gt;Curaçao&lt;/option&gt;
             &lt;option value="CY"&gt;Cyprus&lt;/option&gt;
             &lt;option value="CZ"&gt;Czech Republic&lt;/option&gt;
             &lt;option value="DK"&gt;Denmark&lt;/option&gt;
             &lt;option value="DJ"&gt;Djibouti&lt;/option&gt;
             &lt;option value="DM"&gt;Dominica&lt;/option&gt;
             &lt;option value="DO"&gt;Dominican Republic&lt;/option&gt;
             &lt;option value="EC"&gt;Ecuador&lt;/option&gt;
             &lt;option value="EG"&gt;Egypt&lt;/option&gt;
             &lt;option value="SV"&gt;El Salvador&lt;/option&gt;
             &lt;option value="GQ"&gt;Equatorial Guinea&lt;/option&gt;
             &lt;option value="ER"&gt;Eritrea&lt;/option&gt;
             &lt;option value="EE"&gt;Estonia&lt;/option&gt;
             &lt;option value="ET"&gt;Ethiopia&lt;/option&gt;
             &lt;option value="FK"&gt;Falkland Islands (Malvinas)&lt;/option&gt;
             &lt;option value="FO"&gt;Faroe Islands&lt;/option&gt;
             &lt;option value="FJ"&gt;Fiji&lt;/option&gt;
             &lt;option value="FI"&gt;Finland&lt;/option&gt;
             &lt;option value="FR"&gt;France&lt;/option&gt;
             &lt;option value="GF"&gt;French Guiana&lt;/option&gt;
             &lt;option value="PF"&gt;French Polynesia&lt;/option&gt;
             &lt;option value="TF"&gt;French Southern Territories&lt;/option&gt;
             &lt;option value="GA"&gt;Gabon&lt;/option&gt;
             &lt;option value="GM"&gt;Gambia&lt;/option&gt;
             &lt;option value="GE"&gt;Georgia&lt;/option&gt;
             &lt;option value="DE"&gt;Germany&lt;/option&gt;
             &lt;option value="GH"&gt;Ghana&lt;/option&gt;
             &lt;option value="GI"&gt;Gibraltar&lt;/option&gt;
             &lt;option value="GR"&gt;Greece&lt;/option&gt;
             &lt;option value="GL"&gt;Greenland&lt;/option&gt;
             &lt;option value="GD"&gt;Grenada&lt;/option&gt;
             &lt;option value="GP"&gt;Guadeloupe&lt;/option&gt;
             &lt;option value="GU"&gt;Guam&lt;/option&gt;
             &lt;option value="GT"&gt;Guatemala&lt;/option&gt;
             &lt;option value="GG"&gt;Guernsey&lt;/option&gt;
             &lt;option value="GN"&gt;Guinea&lt;/option&gt;
             &lt;option value="GW"&gt;Guinea-Bissau&lt;/option&gt;
             &lt;option value="GY"&gt;Guyana&lt;/option&gt;
             &lt;option value="HT"&gt;Haiti&lt;/option&gt;
             &lt;option value="HM"&gt;Heard Island and McDonald Islands&lt;/option&gt;
             &lt;option value="VA"&gt;Holy See (Vatican City State)&lt;/option&gt;
             &lt;option value="HN"&gt;Honduras&lt;/option&gt;
             &lt;option value="HK"&gt;Hong Kong&lt;/option&gt;
             &lt;option value="HU"&gt;Hungary&lt;/option&gt;
             &lt;option value="IS"&gt;Iceland&lt;/option&gt;
             &lt;option value="IN"&gt;India&lt;/option&gt;
             &lt;option value="ID"&gt;Indonesia&lt;/option&gt;
             &lt;option value="IR"&gt;Iran, Islamic Republic of&lt;/option&gt;
             &lt;option value="IQ"&gt;Iraq&lt;/option&gt;
             &lt;option value="IE"&gt;Ireland&lt;/option&gt;
             &lt;option value="IM"&gt;Isle of Man&lt;/option&gt;
             &lt;option value="IL"&gt;Israel&lt;/option&gt;
             &lt;option value="IT"&gt;Italy&lt;/option&gt;
             &lt;option value="JM"&gt;Jamaica&lt;/option&gt;
             &lt;option value="JP"&gt;Japan&lt;/option&gt;
             &lt;option value="JE"&gt;Jersey&lt;/option&gt;
             &lt;option value="JO"&gt;Jordan&lt;/option&gt;
             &lt;option value="KZ"&gt;Kazakhstan&lt;/option&gt;
             &lt;option value="KE"&gt;Kenya&lt;/option&gt;
             &lt;option value="KI"&gt;Kiribati&lt;/option&gt;
             &lt;option value="KP"&gt;Korea, Democratic People's Republic of&lt;/option&gt;
             &lt;option value="KR"&gt;Korea, Republic of&lt;/option&gt;
             &lt;option value="KW"&gt;Kuwait&lt;/option&gt;
             &lt;option value="KG"&gt;Kyrgyzstan&lt;/option&gt;
             &lt;option value="LA"&gt;Lao People's Democratic Republic&lt;/option&gt;
             &lt;option value="LV"&gt;Latvia&lt;/option&gt;
             &lt;option value="LB"&gt;Lebanon&lt;/option&gt;
             &lt;option value="LS"&gt;Lesotho&lt;/option&gt;
             &lt;option value="LR"&gt;Liberia&lt;/option&gt;
             &lt;option value="LY"&gt;Libya&lt;/option&gt;
             &lt;option value="LI"&gt;Liechtenstein&lt;/option&gt;
             &lt;option value="LT"&gt;Lithuania&lt;/option&gt;
             &lt;option value="LU"&gt;Luxembourg&lt;/option&gt;
             &lt;option value="MO"&gt;Macao&lt;/option&gt;
             &lt;option value="MK"&gt;Macedonia, the former Yugoslav Republic of&lt;/option&gt;
             &lt;option value="MG"&gt;Madagascar&lt;/option&gt;
             &lt;option value="MW"&gt;Malawi&lt;/option&gt;
             &lt;option value="MY"&gt;Malaysia&lt;/option&gt;
             &lt;option value="MV"&gt;Maldives&lt;/option&gt;
             &lt;option value="ML"&gt;Mali&lt;/option&gt;
             &lt;option value="MT"&gt;Malta&lt;/option&gt;
             &lt;option value="MH"&gt;Marshall Islands&lt;/option&gt;
             &lt;option value="MQ"&gt;Martinique&lt;/option&gt;
             &lt;option value="MR"&gt;Mauritania&lt;/option&gt;
             &lt;option value="MU"&gt;Mauritius&lt;/option&gt;
             &lt;option value="YT"&gt;Mayotte&lt;/option&gt;
             &lt;option value="MX"&gt;Mexico&lt;/option&gt;
             &lt;option value="FM"&gt;Micronesia, Federated States of&lt;/option&gt;
             &lt;option value="MD"&gt;Moldova, Republic of&lt;/option&gt;
             &lt;option value="MC"&gt;Monaco&lt;/option&gt;
             &lt;option value="MN"&gt;Mongolia&lt;/option&gt;
             &lt;option value="ME"&gt;Montenegro&lt;/option&gt;
             &lt;option value="MS"&gt;Montserrat&lt;/option&gt;
             &lt;option value="MA"&gt;Morocco&lt;/option&gt;
             &lt;option value="MZ"&gt;Mozambique&lt;/option&gt;
             &lt;option value="MM"&gt;Myanmar&lt;/option&gt;
             &lt;option value="NA"&gt;Namibia&lt;/option&gt;
             &lt;option value="NR"&gt;Nauru&lt;/option&gt;
             &lt;option value="NP"&gt;Nepal&lt;/option&gt;
             &lt;option value="NL"&gt;Netherlands&lt;/option&gt;
             &lt;option value="NC"&gt;New Caledonia&lt;/option&gt;
             &lt;option value="NZ"&gt;New Zealand&lt;/option&gt;
             &lt;option value="NI"&gt;Nicaragua&lt;/option&gt;
             &lt;option value="NE"&gt;Niger&lt;/option&gt;
             &lt;option value="NG"&gt;Nigeria&lt;/option&gt;
             &lt;option value="NU"&gt;Niue&lt;/option&gt;
             &lt;option value="NF"&gt;Norfolk Island&lt;/option&gt;
             &lt;option value="MP"&gt;Northern Mariana Islands&lt;/option&gt;
             &lt;option value="NO"&gt;Norway&lt;/option&gt;
             &lt;option value="OM"&gt;Oman&lt;/option&gt;
             &lt;option value="PK"&gt;Pakistan&lt;/option&gt;
             &lt;option value="PW"&gt;Palau&lt;/option&gt;
             &lt;option value="PS"&gt;Palestinian Territory, Occupied&lt;/option&gt;
             &lt;option value="PA"&gt;Panama&lt;/option&gt;
             &lt;option value="PG"&gt;Papua New Guinea&lt;/option&gt;
             &lt;option value="PY"&gt;Paraguay&lt;/option&gt;
             &lt;option value="PE"&gt;Peru&lt;/option&gt;
             &lt;option value="PH"&gt;Philippines&lt;/option&gt;
             &lt;option value="PN"&gt;Pitcairn&lt;/option&gt;
             &lt;option value="PL"&gt;Poland&lt;/option&gt;
             &lt;option value="PT"&gt;Portugal&lt;/option&gt;
             &lt;option value="PR"&gt;Puerto Rico&lt;/option&gt;
             &lt;option value="QA"&gt;Qatar&lt;/option&gt;
             &lt;option value="RE"&gt;Réunion&lt;/option&gt;
             &lt;option value="RO"&gt;Romania&lt;/option&gt;
             &lt;option value="RU"&gt;Russian Federation&lt;/option&gt;
             &lt;option value="RW"&gt;Rwanda&lt;/option&gt;
             &lt;option value="BL"&gt;Saint Barthélemy&lt;/option&gt;
             &lt;option value="SH"&gt;Saint Helena, Ascension and Tristan da Cunha&lt;/option&gt;
             &lt;option value="KN"&gt;Saint Kitts and Nevis&lt;/option&gt;
             &lt;option value="LC"&gt;Saint Lucia&lt;/option&gt;
             &lt;option value="MF"&gt;Saint Martin (French part)&lt;/option&gt;
             &lt;option value="PM"&gt;Saint Pierre and Miquelon&lt;/option&gt;
             &lt;option value="VC"&gt;Saint Vincent and the Grenadines&lt;/option&gt;
             &lt;option value="WS"&gt;Samoa&lt;/option&gt;
             &lt;option value="SM"&gt;San Marino&lt;/option&gt;
             &lt;option value="ST"&gt;Sao Tome and Principe&lt;/option&gt;
             &lt;option value="SA"&gt;Saudi Arabia&lt;/option&gt;
             &lt;option value="SN"&gt;Senegal&lt;/option&gt;
             &lt;option value="RS"&gt;Serbia&lt;/option&gt;
             &lt;option value="SC"&gt;Seychelles&lt;/option&gt;
             &lt;option value="SL"&gt;Sierra Leone&lt;/option&gt;
             &lt;option value="SG"&gt;Singapore&lt;/option&gt;
             &lt;option value="SX"&gt;Sint Maarten (Dutch part)&lt;/option&gt;
             &lt;option value="SK"&gt;Slovakia&lt;/option&gt;
             &lt;option value="SI"&gt;Slovenia&lt;/option&gt;
             &lt;option value="SB"&gt;Solomon Islands&lt;/option&gt;
             &lt;option value="SO"&gt;Somalia&lt;/option&gt;
             &lt;option value="ZA"&gt;South Africa&lt;/option&gt;
             &lt;option value="GS"&gt;South Georgia and the South Sandwich Islands&lt;/option&gt;
             &lt;option value="SS"&gt;South Sudan&lt;/option&gt;
             &lt;option value="ES"&gt;Spain&lt;/option&gt;
             &lt;option value="LK"&gt;Sri Lanka&lt;/option&gt;
             &lt;option value="SD"&gt;Sudan&lt;/option&gt;
             &lt;option value="SR"&gt;Suriname&lt;/option&gt;
             &lt;option value="SJ"&gt;Svalbard and Jan Mayen&lt;/option&gt;
             &lt;option value="SZ"&gt;Swaziland&lt;/option&gt;
             &lt;option value="SE"&gt;Sweden&lt;/option&gt;
             &lt;option value="CH"&gt;Switzerland&lt;/option&gt;
             &lt;option value="SY"&gt;Syrian Arab Republic&lt;/option&gt;
             &lt;option value="TW"&gt;Taiwan, Province of China&lt;/option&gt;
             &lt;option value="TJ"&gt;Tajikistan&lt;/option&gt;
             &lt;option value="TZ"&gt;Tanzania, United Republic of&lt;/option&gt;
             &lt;option value="TH"&gt;Thailand&lt;/option&gt;
             &lt;option value="TL"&gt;Timor-Leste&lt;/option&gt;
             &lt;option value="TG"&gt;Togo&lt;/option&gt;
             &lt;option value="TK"&gt;Tokelau&lt;/option&gt;
             &lt;option value="TO"&gt;Tonga&lt;/option&gt;
             &lt;option value="TT"&gt;Trinidad and Tobago&lt;/option&gt;
             &lt;option value="TN"&gt;Tunisia&lt;/option&gt;
             &lt;option value="TR"&gt;Turkey&lt;/option&gt;
             &lt;option value="TM"&gt;Turkmenistan&lt;/option&gt;
             &lt;option value="TC"&gt;Turks and Caicos Islands&lt;/option&gt;
             &lt;option value="TV"&gt;Tuvalu&lt;/option&gt;
             &lt;option value="UG"&gt;Uganda&lt;/option&gt;
             &lt;option value="UA"&gt;Ukraine&lt;/option&gt;
             &lt;option value="AE"&gt;United Arab Emirates&lt;/option&gt;
             &lt;option value="GB"&gt;United Kingdom&lt;/option&gt;
             &lt;option value="US" selected&gt;United States&lt;/option&gt;
             &lt;option value="UM"&gt;United States Minor Outlying Islands&lt;/option&gt;
             &lt;option value="UY"&gt;Uruguay&lt;/option&gt;
             &lt;option value="UZ"&gt;Uzbekistan&lt;/option&gt;
             &lt;option value="VU"&gt;Vanuatu&lt;/option&gt;
             &lt;option value="VE"&gt;Venezuela, Bolivarian Republic of&lt;/option&gt;
             &lt;option value="VN"&gt;Viet Nam&lt;/option&gt;
             &lt;option value="VG"&gt;Virgin Islands, British&lt;/option&gt;
             &lt;option value="VI"&gt;Virgin Islands, U.S.&lt;/option&gt;
             &lt;option value="WF"&gt;Wallis and Futuna&lt;/option&gt;
             &lt;option value="EH"&gt;Western Sahara&lt;/option&gt;
             &lt;option value="YE"&gt;Yemen&lt;/option&gt;
             &lt;option value="ZM"&gt;Zambia&lt;/option&gt;
             &lt;option value="ZW"&gt;Zimbabwe&lt;/option&gt;
            &lt;/select&gt;
           &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="form-group row"&gt;
           &lt;label class="col-3"&gt;Address Line 1&lt;/label&gt;
           &lt;div class="col-9"&gt;
            &lt;input class="form-control form-control-solid" type="text" value="District 6 1352 W. Olive Ave"/&gt;
           &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="form-group row"&gt;
           &lt;label class="col-3"&gt;Address Line 2&lt;/label&gt;
           &lt;div class="col-9"&gt;
            &lt;input class="form-control form-control-solid" type="text" value="Fresno 559-488-4020"/&gt;
           &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="form-group row"&gt;
           &lt;label class="col-3"&gt;City&lt;/label&gt;
           &lt;div class="col-9"&gt;
            &lt;input class="form-control form-control-solid" type="text" value="Polo Alto"/&gt;
           &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="form-group row"&gt;
           &lt;label class="col-3"&gt;State / Province / Region&lt;/label&gt;
           &lt;div class="col-9"&gt;
            &lt;input class="form-control form-control-solid" type="text" value="Los Angeles"/&gt;
           &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="form-group row"&gt;
           &lt;label class="col-3"&gt;Zip / Postal Code&lt;/label&gt;
           &lt;div class="col-9"&gt;
            &lt;input class="form-control form-control-solid" type="text" value="780456"/&gt;
           &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="form-group row"&gt;
           &lt;label class="col-3"&gt;&lt;/label&gt;
           &lt;div class="col-9"&gt;
            &lt;div class="checkbox-inline"&gt;
             &lt;label class="checkbox"&gt;
              &lt;input type="checkbox"/&gt; Use as shipping address.
              &lt;span&gt;&lt;/span&gt;
             &lt;/label&gt;
            &lt;/div&gt;
           &lt;/div&gt;
          &lt;/div&gt;
         &lt;/div&gt;
         &lt;div class="separator separator-dashed my-10"&gt;&lt;/div&gt;
         &lt;div class="my-52"&gt;
          &lt;h3 class=" text-dark font-weight-bold mb-10"&gt;Security:&lt;/h3&gt;
          &lt;div class="form-group row"&gt;
           &lt;label class="col-3"&gt;Login verification&lt;/label&gt;
           &lt;div class="col-9"&gt;
            &lt;button type="button" class="btn btn-light-primary font-weight-bold btn-sm"&gt;Setup login verification&lt;/button&gt;
            &lt;div class="form-text text-muted mt-3"&gt;
             After you log in, you will be asked for additional information to confirm your identity and protect your account from being compromised.
             &lt;a href="#"&gt;Learn more&lt;/a&gt;.
            &lt;/div&gt;
           &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="form-group row"&gt;
           &lt;label class="col-3"&gt;Password reset verification&lt;/label&gt;
           &lt;div class="col-9"&gt;
            &lt;div class="checkbox-inline"&gt;
             &lt;label class="checkbox mb-2"&gt;
              &lt;input type="checkbox"/&gt;
              &lt;span&gt;&lt;/span&gt;
              Require personal information to reset your password
             &lt;/label&gt;
            &lt;/div&gt;
            &lt;div class="form-text text-muted"&gt;
             For extra security, this requires you to confirm your email or phone number when you reset your password.
             &lt;a href="#" class="font-weight-bold"&gt;Learn more&lt;/a&gt;.
            &lt;/div&gt;
           &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="form-group row mt-10"&gt;
           &lt;label class="col-3"&gt;&lt;/label&gt;
           &lt;div class="col-9"&gt;
            &lt;button type="button" class="btn btn-light-danger font-weight-bold btn-sm"&gt;Deactivate your account ?&lt;/button&gt;
           &lt;/div&gt;
          &lt;/div&gt;
         &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="col-xl-2"&gt;&lt;/div&gt;
       &lt;/div&gt;
      &lt;/form&gt;
      &lt;!--end::Form--&gt;
     &lt;/div&gt;
    &lt;/div&gt;
       </code>
</pre>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--end: Code-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
